
.bx-wrapper {
  position: relative;
  margin-bottom: 0px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}

.bxslider {
  margin: 0;
  padding: 0;
}

ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}

/* LOADER */
.bx-loading {
  min-height: 50px;
  background: url('../images/bx_loader.gif') center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
} 


/* PAGER */
/* .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
} */
.bx-wrapper .bx-pager {
 text-align: center;
 font-size: .85em;
 font-family: Arial;
 font-weight: bold;
 color: rgb(238, 41, 41);
 padding-top: 0px;
 position: absolute; 
 top: -30px;
 left: 50%;
 transform: translate(-50%, -50%);
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background:#ffffff95;

  text-indent: -9999px;
  display: block;
  width: 100px;
  height: 5px;
  margin: 0 0px;
  outline: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: rgb(46, 133, 3);
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

  
.bx-prev {
  /* display: none; */
  left: 20px;
  background: url('../images/pre.png') no-repeat 0 0px;
}



.bx-next {
  right: 20px;
  background: url('../images/next.png') no-repeat -0px -0px;
} 

.bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  outline: 0;
  width:35px;
  height: 63px;
  text-indent: -9999px;
  z-index: 9999;
}