@import url(reset.css);

/* body{overflow-x: hidden;} */

#wrap{ width: 100%; background: rgb(239, 241, 234);}
#header_wrap{ width: 100%; position: fixed; z-index:99; background: #00000070;}
#header{position: relative; width: 1200px; height: 140px; margin: 0 auto;}
h1{ float: left; width: 20%; padding-top: 70px; padding-bottom: 5px; }
header h1 img{max-width: 100%; height: auto; width: 280px;}


.top_menu{ position: absolute; top:5px; right:33px;}
.top_menu li{ float:left; color: #fff; padding: 0 15px 0 0;}
.top_menu li a{ font-size:12pt; color:#fff;}
.top_menu li a:hover{ font-weight: 600;}
.top_menu li.img_box_s{font-size: 1.1rem;}
.top_menu li.img_box_s:hover{font-size: 1.3rem;}


a#pull{ display: none; font-size: 1.7rem; position :absolute; top:30px; right: 30px;  color: darkgray;}
a#pull_1{display: none;}
a#pull i{ padding: 0 30px 0  0;  }


nav{float: left; width: 80%;}
.gnb{float:right; margin-top: 100px; }
.gnb li{float:left;}
.gnb li a{ font-size: 20px; font-weight: 600; color:#fff;  padding: 10px 30px; }
.gnb li a:hover{text-decoration:underline; }


/* 미디어쿼리-헤더 */

@media(max-width : 1220px){
#header{width: 100%; height: 100px;}
h1{ width: 17%; padding-top: 10px;padding-bottom: 5px; padding-left: 3%; }
header h1 img{max-width: 100%; height: auto; width: 200px;}


.top_menu{ position: absolute; top:5px; right:50px;}
.top_menu li{ float:left; color: #fff; padding: 0 15px 0 0;}
.top_menu li a{ font-size:10pt; color:#fff;}
.top_menu li.img_box_s{font-size: 1.2rem;}
.top_menu li.img_box_s:hover{font-size: 1.4rem;}


a#pull{ display: none; font-size: 1.7rem; position :absolute; top:30px; right: 20px;}
a#pull_1{ display: none; font-size: 1.7rem; position :absolute; top:30px; right: 20px;}

.gnb{margin-top: 65px; }
.gnb li a{ font-size: 18px;  padding: 10px 60px 10px 0;  }

}


@media(max-width : 768px){
#header{text-align: center; height: 80px;}
h1{ width: 100%; 
    padding-top: 5px;
    padding-bottom: 5px; 
 }
header h1 img{max-width: 100%; 
    height: auto; width: 200px;
}
.top_menu{display: none;}


a#pull{ display: block; font-size: 1.7rem; position :absolute; top:20px; right: 30px;  color:rgb(248, 252, 250);}
a#pull i{ padding: 0 30px 0  0;  }


nav ul.gnb{display: none;}

}
@media(max-width : 480px){
#header_wrap{ width: 100%; position: fixed; z-index:99; background: #ffffff;}

#header{ height: 70px; text-align: center;}
h1{ width: 100%; 
    padding-top: 2px;
    padding-bottom: 2px;
}
header h1 img{ width: 150px;  padding: 0 20px 0 0;}

a#pull{width: 100%; display: block; font-size: 1.2rem; position :absolute; top:30%; right: 0%;  color: darkgreen;}
a#pull i{ padding: 0 22%;  margin: 0 -65%; }
i.fas .fa-align-right.m_none{display: none;}


    .top_menu{ display: none;}
    nav ul.gnb{display: none;}
}

/* ------------------------------------------------------------------------- */

/* 배너슬라이드 */
#banner_1{position: relative; width: 100%;  margin-bottom: 100px;}
.slider {width: 100%; height: auto;  overflow: hidden;}
.slider img{max-width: 100%; height: auto;}
.slider_m{display: none;}

/* 미디어쿼리-상단배너 */

@media(max-width : 1220px){
    #banner_1{position: relative; width: 100%;  margin-bottom: 160px;}
   .slider {width: 100%; height: auto;}
   .slider img{max-width: 100%; overflow: hidden;}
}
@media(max-width : 768px){
    #banner_1{margin-bottom: 100px;}

}
@media(max-width : 480px){
    #banner_1{margin-bottom: 80px;}
    .slider {display: none;}
    .slider_m{display: block;}
    .slider_m img{max-width: 100%; overflow: hidden;}
}

/* ------------------------------------------------------------------------------------ */

/* 컨텐츠1 */
#content_1_wrap{ width: 100%;  margin-bottom: 150px; height:700px; }
#content_1 { width: 1200px; padding: 0 0 0 0; margin: 0 auto;  text-align: center;}

#content_1 p{ font-size: 45px; font-weight: 600; color: rgb(71,118,4); margin-bottom: 70px;}
.cont_box_1{ width: 55%; float: left;  height: auto; padding: 0 3% 0 0;}
.cont_box_1 img{ max-width: 100%;}

.cont_box_2{ width: 42%; float: left;  height: auto; padding: 0 0 25px 0;}
.cont_box_2 img{ max-width: 100%;}

.cont_box_2_m{ width: 42%; float: left;  height: auto; padding: 0 0 25px 0; 
               display: none;}
.cont_box_2_m img{ max-width: 100%; display:none;}


.cont_box_3{ width: 42%; float: left; height: auto; }
.cont_box_3 img{ max-width: 100%;}



/* 미디어쿼리 프로그램 컨텐츠-1 */

@media(max-width : 1220px){
    #content_1_wrap{height: 700px; }
    #content_1 { width: 100%; text-align: center;}
}
@media(max-width : 768px){
    #content_1_wrap{ margin-bottom: 100px; height: auto;}
    #content_1 { width: 100%; text-align: center;}
    
    #content_1 p{ margin-bottom: 50px;}
    .cont_box_1{ float:none; width: 100%;  height: auto; padding: 0 0 30px 0;  }
     .cont_box_2{ float: none; width: 100%; 
        height: auto; 
        padding: 0 0 30px 0;
    }
    .cont_box_3{ float:none; 
        width: 100%; 
        padding: 0 0 30px 0;
    }
     .cont_box_1 img{ width: 600px; max-width: 100%;}
     .cont_box_2 img{ width: 600px; max-width: 100%;}
     .cont_box_3 img{ width: 600px; max-width: 100%;}
}

@media(max-width : 480px){
    #content_1_wrap{ margin-bottom: 100px;}
    #content_1 { width: 100%; height: auto;   text-align: center;}
    #content_1 p{ font-size: 25px; font-weight: 600; color: rgb(71,118,4); margin-bottom: 30px;}

    .cont_box_2_m{ display: block; width: 100%;}

     .cont_box_2{display: none;}
     .cont_box_2_m{ display: block;}

     .cont_box_1 img{ width: 450px;}
     .cont_box_2_m img{ width: 450px;}
     .cont_box_3 img{ width: 450px;}

} 

/* ---------------------------------------------------------------------- */
/* 컨텐츠2 */
#content_2_wrap{ width: 100%;margin-bottom: 120px; height: 500px; }
#content_2 { width: 100%; }
.cont_2_box_1 { float:left; width: 25%;  padding:0;}
.cont_2_box_2 { float:right; width: 25%;  }
.cont_2_box_1 img{max-width: 100%;overflow: hidden; }
.cont_2_box_2 img{max-width: 100%; overflow: hidden; }

/* 미디어쿼리 프로그램 컨텐츠-2 */

@media(max-width : 1220px){
    #content_2_wrap{ height: 380px; }
}
@media(max-width : 768px){
    #content_2_wrap{ 
        height: 250px; 
        margin-bottom: 100px;
    }
.cont_2_box_1 { float:left; width: 25%; padding:0;}
.cont_2_box_2 { float:right; width: 25%; }

}
@media(max-width : 480px){    
#content_2_wrap{ width: 80%; margin-bottom: 100px;  height:400px; padding: 0 10% }
.cont_2_box_1 { float:left; width: 50%; height: auto; padding:0;}
.cont_2_box_2 { float:left; width: 50%; height: auto; padding:0;}
.cont_2_box_1 img{ max-width: 100%; }
.cont_2_box_2 img{ max-width: 100%; }

/* .m_none{display: none;} */
}

/* -------------------------------------------------------------------------------- */

/* 컨텐츠3-아이콘박스 */
#content_3_wrap{ width: 100%;  height: 300px; margin-bottom: 150px; text-align: center;}
#content_3 { width: 1200px;  ; margin: 0 auto; text-align: center; }
#content_3 > p{ font-size: 45px; font-weight: 600; color: rgb(71,118,4); }


/* 아이콘 */
.icon_1 {float: left;  width: 12.5%;  height: auto;  padding: 80px  0 0 0; text-align:center;}
.icon_1 img { width:62px;}
.icon_1 a{color: #717674;}
.icon_1 a:hover{color: #07923c;}
.icon_1 p{font-size: 18px;}

/* 미디어쿼리 프로그램 컨텐츠-3 아이콘 모음  */

@media(max-width : 1220px){
#content_3 { width: 100%;}

/* 아이콘 */
.icon_1 {float: left;  width: 12.5%;   padding: 80px  0 0 0; text-align:center;}
.icon_1 img { width:62px;}


}
@media(max-width : 768px){
#content_3_wrap{ width: 100%;  height: 200px; margin-bottom: 200px; text-align: center;}

.icon_1 img { width:45px;}
.icon_1 p{font-size: 14px;}

}
@media(max-width : 480px){
#content_3_wrap{ height: 280px; margin-bottom: 120px;}
#content_3 { height: 450px;}
#content_3>p{font-size: 25px; font-weight: 600; }
.icon_1 {float: left;  width: 25%;   padding: 50px  0 0 0; text-align:center;}
.icon_1 img { width:40px;}
.icon_1> p{font-size: 13px;}
}

/* ------------------------------------------------------------------------------ */

/* 컨텐츠4 */

#content_4_wrap{ width: 100%;  margin-bottom: 200px; }
#content_4 {position: relative; width: 1200px; margin: 0 auto; overflow: hidden; text-align: center;}

#content_4 .titel { font-size: 45px; font-weight: 600;color: rgb(71,118,4); }
#content_4 .mobil-s a{ position: absolute; font-size: 30px; top: 3%; left: 60%; color: rgb(71,118,4); display: none;}

#content_4 .title_text_1 { font-size: 20px; font-weight: 400;color: rgb(71,118,4); padding: 20PX 0 0 80PX;  }
#content_4 .title_text_1 span a{font-size: 20px; font-weight: 400; color: rgb(71,118,4); position: absolute; top:20; right:80px; }
#content_4 .title_text_1 span a:hover{font-size: 20px; font-weight: 400; color: rgb(21, 99, 60);}

/*뉴스박스 */
.news_1{position: relative; float: left; width: 240px; border:1px solid rgb(8, 122, 42); background: rgb(256, 256, 256); margin: 50px 20px 0 0; padding: 60px 20px 20px 20px;}
.news_2{position: relative; float: right; width: 240px;border:1px solid  rgb(8, 122, 42); background: rgb(256, 256, 256); margin: 50px 0px 0 0; padding: 60px 20px 20px 20px;}
/* 뉴스박스텍스트  */
h2.n_title { position: absolute; top: 0; left: 0; font-size: 20px; color: #fff; background: rgb(26, 150, 36);  padding: 5px 20px; display: inline-block;}
.n_text { padding: 0px 0 0 0px;}
.n_text_b {font-size: 18px; color: rgb(71, 52, 52); padding: 0 0 10px 0px; font-weight: 500;}
.n_text_b a:hover {font-size: 18px; color: rgb(146, 23, 23); font-weight: 500;}
.n_text_s {font-size: 15px; color: rgb(71, 52, 52); padding: 0 0 0 0px;}
.n_text_s a:hover{font-size: 16px; color: rgb(146, 23, 23);}

.n_text_day{ font-size: 14px; padding-top: 30px;}

/* 미디어쿼리 프로그램 컨텐츠- 뉴스박스  */

@media(max-width : 1220px){
    /* 컨텐츠4 */

#content_4 {width: 100%; }


/* 문제 */
.news_1{ width: 22%;   padding: 60px 2% 0 0;}
.news_2{width: 22%; ; padding: 60px 0 0 0; }
/* 뉴스박스 */
h2.n_title { position: absolute; top: 0; left: 0; font-size: 20px; color: #fff; background: rgb(26, 150, 36);  padding: 5px 20px; }
.n_text_b {font-size: 18px; color: rgb(71, 52, 52); padding: 0 0 10px 0px; font-weight: 500;}
.n_text_s {font-size: 15px; color: rgb(71, 52, 52); padding: 0 0 0 0px;}

}
@media(max-width : 768px){

#content_4.titel { position: relative; font-size: 30px; font-weight: 600;color: rgb(71,118,4); }

#content_4 .title_text_1 { font-size: 20px; font-weight: 400;color: rgb(71,118,4); padding: 20PX 0 0 80PX;  }
#content_4 .title_text_1 span.big a{font-size: 20px; font-weight: 400; color: rgb(71,118,4); position: absolute; top:20; right:50px; }

#content_4 .title_text_1 span a:hover{font-size: 18px; font-weight: 400; color: rgb(21, 99, 60);}
    
 /*뉴스박스 */
.bodo{display: none;}
.news_1{ width: 30%;  height: 180px;  padding: 60px 0 0 0;  margin: 50px 4% 0 0;}
.news_2{width: 30%; height: 180px;  padding: 60px 0 0 0; margin: 50px 0 0 0;}
/* 박스텍스트 */
h2.n_title { position: absolute; top: 0; left: 0; font-size: 18px; color: #fff; background: rgb(26, 150, 36);  padding: 5px 20px; }
.n_text_b {font-size: 15px; color: rgb(71, 52, 52); padding: 0 0 10px 0px; font-weight: 500;}
.n_text_s {font-size: 15px; color: rgb(71, 52, 52); padding: 0 0 0 0px;}

.n_text_day{ font-size: 14px; padding-top: 30px;}

}
@media(max-width : 480px){
#content_4_wrap{ width: 80%;  margin-bottom: 100px; padding: 0 10%;}


#content_4 .titel { font-size: 25px; font-weight: 600;color: rgb(71,118,4); }
#content_4 .mobil-s a{ position: absolute; font-size: 20px; top: 1%; left: 65%; color: rgb(71,118,4); display: block;}

#content_4 .title_text_1 { font-size: 15px; padding: 20PX 0 20px 0;  }
#content_4 .title_text_1 span a{display: none;}
#content_4 .title_text_1 span a:hover{font-size: 15px; font-weight: 400; }

.bodo{display: block;}
.news_1{ width: 94%;  height: 180px;  padding: 0 3% 0 3%;  margin: 10px 0 0 0; border: 0px solid #07923c;}
.news_2{width: 94%; height: 180px;  padding:  0 3% 0 3%; margin: 10px 0 0 0; border: 0;}

.n_text_b {font-size: 18px; color: rgb(71, 52, 52); padding: 50px 0 10px 0px; font-weight: 500;}
.n_text_s {font-size: 14px; color: rgb(71, 52, 52); padding: 0 0 0 0px; font-weight: 300;}

.n_text_day{ float: right; font-size: 14px; padding: 20px 10px 0 0;}


}
/* ----------------------------------------------------------------------------- */

/* 하단배너 배너2 */

#banner_2{position: relative; width: 100%; height: auto;  margin-bottom: 150px;}
.banner2{overflow: hidden;}
.banner2 img{max-width: 100%;}

/* 미디어쿼리 프로그램 컨텐츠- 하단배너  */

@media(max-width : 1220px){}
@media(max-width : 768px){}
@media(max-width : 480px){#banner_2{  margin-bottom: 100px;}
}

/* ------------------------------------------------------------------------ */

/* 컨텐츠 5 - 동영상 */

#content_5_wrap{ width: 100%;  margin-bottom: 150px; }
#content_5 {position: relative; width: 1200px;  margin: 0 auto; text-align: center;}
#content_5 .mobil-s a{ position: absolute; font-size: 20px; top: 1%; left: 65%; color: rgb(71,118,4); display: none;}

#content_5 .titel {text-align: center; font-size: 45px; font-weight: 600;color: rgb(71,118,4); }
#content_5 .title_text_1 {text-align: center; font-size: 20px; font-weight: 400;color: rgb(71,118,4); padding: 20PX 0 50px 0PX;}
#content_5 .title_text_1 span a{font-size: 20px; font-weight: 400; color: rgb(71,118,4); position: absolute; top:20; right:250px; }
#content_5 .vedio{text-align: center; width:70%; height: 500px; padding: 0 15%;} 


    
/* 미디어쿼리 프로그램 컨텐츠- 5  */

@media(max-width : 1220px){
    #content_5_wrap{ width: 100%;  margin-bottom: 150px}
    #content_5 {position: relative; width: 100%; }
    #content_5 .mobil-s a{ position: absolute; font-size: 20px; top: 1%; left: 65%; color: rgb(71,118,4); display: none;}
    #content_5 .vedio{text-align: center; width:70%; height: 500px; padding: 0 15%;} 

}
@media(max-width : 768px){
#content_5_wrap{ width: 100%;  margin-bottom: 150px}

#content_5 .titel {text-align: center; font-size: 30px; font-weight: 600;color: rgb(71,118,4); }
#content_5 .mobil-s a{ position: absolute; font-size: 20px; top: 2%; left: 70%; color: rgb(71,118,4); display: block;}

#content_5 .title_text_1 {text-align: center; font-size: 18px; font-weight: 400;color: rgb(71,118,4); padding: 20PX 0 50px 0PX;}
#content_5 .title_text_1 span a{font-size: 20px; font-weight: 400; color: rgb(71,118,4); position: absolute; top:20; right:250px; display: none; }
#content_5 .vedio{text-align: center; width:80%; height: auto; padding: 0 10%;} 

}
@media(max-width : 480px){
    #content_5_wrap{ width: 100%;  margin-bottom: 100px}

    #content_5 .titel { font-size: 25px;  }
    #content_5 .mobil-s a{ position: absolute; font-size: 20px; top: 2%; left: 75%; color: rgb(71,118,4); display: block;}
    
    #content_5 .title_text_1 {text-align: center; font-size: 15px; font-weight: 400;color: rgb(71,118,4); padding: 20PX 0 50px 0PX;}
    #content_5 .vedio{text-align: center; width:80%; height: auto; padding: 0 10%;} 
    
}

/* --------------------------------------------------------------- */
/* 푸터 */

#footer_wrap{ width: 100%; height: 300px;  background: rgb(211, 212, 210);}

#footer{position: relative; width: 1200px;  margin: 0 auto;}

.f_logo{ float: left; padding: 65px 20PX 0 20PX; }
.f_logo >a>img{width: 200px;}

.center {float: left; font-size: 20px; font-weight: 600; color: rgb(58, 57, 57); padding: 90px 30px  0 40px;}
.add{ float: left; font-size: 14px; color: rgb(136, 138, 136); padding: 90px 0 0 150px;}
.sns {position: absolute; top:20px; right: 180px; float: right;}
.sns a{ float: left;  padding: 0 20px 0 0;}


/* 미디어쿼리 프로그램 푸터 */

@media(max-width : 1220px){
    #footer{width: 100%;}

    .f_logo{ float: left; width: 18%; padding: 110px 0 0 2%; }
    .f_logo >a>img{width: 180px;}
    
    .center {float: left; width: 40%; padding: 130px 0 0 0px;}
    .add{ float: left; width: 40%; padding: 130px 0 0 0px;}
    .sns {position: absolute; top:20px; right: 150px; float: right;}
    .sns a{ float: left;  padding: 0 20px 0 0;}
    

}
@media(max-width : 768px){
    #footer_wrap{ width: 100%; height: 250px; }


    .f_logo{ float: left; width: 17%; padding: 75px 0 0 3%; }
    .f_logo >a>img{width: 100px;}
    
    .center {float: left; font-size: 18px; width: 30%; padding: 75px 0 0 0;}
    .add{ float: left; font-size: 14px; width: 48%; padding: 75px 0 0 2%;}
    .sns {position: absolute; top:10px; right: 22%; }
    .sns a{ float: left;  padding: 0 10px 0 0;}
    .sns a img{ max-width: 100%; width: 30px;}

}
@media(max-width : 480px){
    .f_logo{ float: left; width: 45%; height: auto; padding: 8% 0 0 0; text-align: center; }
    .f_logo >a>img{width: 100px;}
    
    .center {float: left; font-size: 14px; width: 43%; padding: 3% 0 0 7%; margin-right: 170px; }
   ul.add{ float: left; font-size: 12px; width: 47%; height: auto; padding:3% 0 0 3%;  
    margin-top: -24%;
    margin-left: 50%; }
    .sns {position: absolute; top: 0; right:15%; }
    .sns a{ float: left;  padding: 15% 10px 0 0;}
    .sns a img{ max-width: 100%; width: 20px;}


}




























    

